{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Encuentra tu Próximo Destino Turístico</h1>
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Obtener Recomendaciones</button>
            </form>
        </div>

        {% if recomendaciones %}
            <div class="recomendations-container">
                <h2 class="my-4">Te recomendamos los siguientes lugares:</h2>
                {% for lugar in recomendaciones %}
                    <div class="recomendation row">
                        <div class="col-md-4">
                            <img src="{{ lugar.imagen_url }}" alt="{{ lugar.nombre }}" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h3>{{ lugar.nombre }} - Precisión: {{ lugar.porcentaje_precision }}%</h3>
                            <p><strong>Descripción:</strong> {{ lugar.descripcion }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% elif mensaje %}
            <div class="mensaje">
                <p>{{ mensaje }}</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
