__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
VENV/

*.log
*.pot
*.pyc
*.sqlite3
*.db

*/migrations/__pycache__/
*/migrations/*.pyc

*.cache
.cache/
.cache/**

media/

staticfiles/
static/

.env
*.env
.env.*

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
